data/*.tar.gz
data/cifar-10-batches-py
data/cifar-100-python
checkpoints/
results/
__pycache__/

saved_predicted_logits/
saved_adversarial_images/
model_info/

!clip-dissect/data/**/

clip-dissect/data/*.tar.gz
clip-dissect/data/cifar-10-batches-py
clip-dissect/data/*results
!clip-dissect/data/cifar10_classes.txt
clip-dissect/checkpoints/
clip-dissect/results/

__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

clip-dissect/thumbs.db
clip-dissect/.DS_Store
clip-dissect/.idea
clip-dissect/saved_activations*/
*.zip

saved_loir_rankings/
saved_cdir_rankings/
